# Dependencies
node_modules

# Production build
dist

# TypeScript build information
*.tsbuildinfo

# Local environment files
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Misc
*.local